# **4. Python - Tuples & Listes**

# Tuples

Les tuples correspondent aux `« n-uplets »` en français.

In [6]:
x1 = (1, 2, 3)
print(x)

(1, 2, 3)

## 1)
### Afficher le deuxième élèment de `x1`.

In [2]:
x1=(1,2,3)
print(x1)
x1[1]

(1, 2, 3)

2

## 2)
### Créer un tuple appelé `x2` qui contient les valeurs 4, 5 et 6.

In [3]:
x2=(4,5,6)
print(x2)

(4, 5, 6)

## 3)
### Remplacer la dernière valeur de `x2` par un 4. Que constatez-vous ?

In [ ]:
cela ne marche pas !!

## 4)
### Créer un tuple `xx` qui contient les valeurs de `x1` et `x2` et l'afficher.

In [5]:
xx=x1+x2
print(xx)

(1, 2, 3, 4, 5, 6)

## 5)
### Ajouter la valeur 5 au tuple `x2`. Que constatez-vous?

In [6]:
x2=x2+5
print(x2)
##cela ne marche pas car on ne peu pas la  changer la valeur

TypeError: can only concatenate tuple (not "int") to tuple

## 6) 
### Créer un tuple `t`contenant une unique valeur.

In [7]:
t=2,
print(t)
print(type(t))

(2,)
<class 'tuple'>

In [1]:
t = 1,
print(t)
print(type(t))

(1,)
<class 'tuple'>

## 7) 
### En utilisant la fonction adéquate, transformer la chaîne 'ATGCCGCGAT' en un tuple appelé `dna`.

In [16]:
C=["ATGCCGCGAT"]
print(C)
dna= ("A","T","G","G","C","C","G","C","G","A","T")
print(dna)

['ATGCCGCGAT']
('A', 'T', 'G', 'G', 'C', 'C', 'G', 'C', 'G', 'A', 'T')

## 8)
### Créer un tuple `"t"` contenant trois chaînes de caractères. Que fais le script suivant? Afficher `obj1`. Que représente-t-il ?

In [19]:
obj1 = tuple(enumerate(t))
print(obj1)

((0, 2),)

In [22]:
obj1 = tuple(enumerate(t))
print(obj1)
##

((0, 'One Punch Man'), (1, 'Full Metal Alchemist'), (2, 'Death Note'))

# Listes

## Création de listes

## 9) 
### Créer une liste `liste1` qui contient tous les nombres entiers entre 0 et 150 inclus.

In [31]:
liste1=[]
liste1=list(range(151))
print(liste1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150]

## 10)
### Créer une liste `liste2` qui contient tous les nombres entiers entre 1 et 150 inclus.

In [36]:
liste2=[]
liste2=list(range(1,151))
print(liste2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149]

## 11) 
### Créer une liste appellée `"Month"` contenant les mois de l'année en anglais et l'afficher.

In [43]:
Month=["janvier","fevrier","march","april","may","june","july","august","september","october","novembe","december"]
print(Month)

['janvier', 'fevrier', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'novembe', 'december']

## 12)
### Créer une liste vide appelée `L` et l'afficher.

In [45]:
L=[]
print(L)

[]

## 13)
### Créer une liste `L1` composée des nombres entier entre 1 et 10.
### Créer une liste `L2` composée des nombres entiers entre 11 et 20.
### Créer une liste `L3` contenant les listes `L1` et `L2` à la suite.

In [53]:
L1=list(range(1,11))
print(L1)
L2=list(range(11,21))
print(L2)
L3=L1+L2
print(L3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

## 14) 
### Quelle fonction permet d'afficher la longueur d'une liste? Afficher la longueur de la liste `L4` suivante:

In [59]:

L4 = L1[2:24] + L2[1:5] + Month[1:5]
print(L4)

[3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 'fevrier', 'march', 'april', 'may']

## Opérateurs sur les listes

## 15) 
### Que font les opérations suivantes?

In [63]:
L8=[1,2,3,4] 
L9=[0,1,2] 
L12=L9+L8
print(L12)# Concaténation

[0, 1, 2, 1, 2, 3, 4]

In [64]:
L13=[1,2,3,4]*4 
print(L13)
# répétition

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [15]:
[1,2,3] == [3,2,1] # test d'égalité FALSE

False

In [16]:
['1',2,3] == [1,2,3]# test d'égalité FALSE

False

In [17]:
[1,2,3] == [1,2,3] # test d'égalité TRUE

True

## Modifications de listes

## 16) 
### Modifier la liste `L4` en ajoutant à la fin de celle-ci deux valeurs au choix.

In [65]:
print(L4)
print(L4[-1])

[3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 'fevrier', 'march', 'april', 'may']
may

In [ ]:
L4

May 4 1000
1000 10 11

## 17)
### Insérer un caractère au milieu de la liste `L1` puis le supprimer de deux manières différentes.

In [69]:
L1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
L1.insert(5,"0")
print(L1)
L2=list (L1[0:5])+['0']+list (L1)

[1, 2, 3, 4, 5, '0', 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 'o', 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 7, 8, 9, 10]

## 18)
### Modifier le premier, le 16ème et l'avant dernier élément de la liste `L4` respectivement par :  'toto', 16 et   'cacahuète'.

In [16]:
print(L4)
print(L4[0])
L4[0]="toto"

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2, 3, 4, 5, 'February', 'March', 'April', 'May', 4, 1000, 10, 11]
2
['toto', 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 16, 18, 19, 20, 21, 22, 23, 2, 3, 4, 5, 'February', 'March', 'April', 'May', 4, 1000, 'cacahuète', 11]

## 19) 
### Supprimer l'élément "cacahuète" de la liste `L4`.

In [71]:
print([L4])
del(L4[-2])
print(L4)
L4[-2:]=[]
print(L4)

[[3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 'fevrier', 'march', 'may']]
[3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 'fevrier', 'may']
[3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15]

## 20)
### Supprimer les deux premiers éléments de `L4` de deux manières différentes.

In [ ]:
L4=

## 21)
### Trier la liste `L5` suivante dans l'ordre croissant(de deux manières différentes) puis dans l'ordre décroissant.

In [74]:
L5 = [18,19,20,6,5,4,4]
sorted(L5)
list.sort(L5,reverse=True)
print(L5)

[20, 19, 18, 6, 5, 4, 4]

[18, 19, 20, 6, 5, 4, 4]

[20, 19, 18, 6, 5, 4, 4]

## Sémantique de pointeurs

## 22)
### Exectuer les codes suivants :

In [75]:
a = [1, 7, 5]
b = a
print(a,b)
# Egalité

a[1] = 0
print(a,b)

print(a)
c=a.copy()

[1, 7, 5] [1, 7, 5]
[1, 0, 5] [1, 0, 5]
[1, 0, 5]

## 23) 
### Comparer les résultats avec ces lignes de code. Que comprenez-vous?

In [35]:
a = [1, 7, 5]
b = a[:] # b = a + [], ou b = list(a) fonctionnent aussi
a[1] = 0
print(a,b)

[1, 0, 5] [1, 7, 5]