# 21. Python - Pandas Introduction


<span style="color:red">**NOTE :**</span>

**Avant de commencer le TP, téléchargez les deux dataset (`super_hero_powers` et `heroes_information`) et placez-les dans le dossier où est sauvegardé le notebook.**

**Tutoriels à suivre** 
#### 1)
https://openclassrooms.com/fr/courses/4452741-decouvrez-les-librairies-python-pour-la-data-science/5558996-passez-de-numpy-a-pandas

#### 2)

https://openclassrooms.com/fr/courses/4452741-decouvrez-les-librairies-python-pour-la-data-science/5574866-manipulez-les-donnees-contenues-dans-vos-dataframes

### 1. Qu'est ce que pandas?

Pandas est une bibliothèque écrite pour le langage de programmation 
Python permettant la manipulation et l'analyse des données. 
Elle propose en particulier des structures de données et des opérations 
de manipulation de tableaux numériques et de séries temporelles. 
Pandas est un logiciel libre sous licence BSD2

### 2. Importer les libraires `numpy` et `pandas`.

In [ ]:
import numpy as np
import pandas as pd


### 3. Utilisez la fonctions `read_csv()` de `pandas` pour importer les deux dataset (fichiers csv) au format dataframe.

In [6]:
import numpy as np
import pandas as pd
pd.read_csv('super_hero_powers.csv')

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
662,Yellowjacket II,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
663,Ymir,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
664,Yoda,True,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
665,Zatanna,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
666,Zoom,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
import numpy as np
import pandas as pd
pd.read_csv('heroes_information.csv')

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
729,729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,-,good,52.0
730,730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0
731,731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17.0
732,732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,-,good,57.0
733,733,Zoom,Male,red,-,Brown,185.0,DC Comics,-,bad,81.0

### 4. Utilisez la fonction `head` pour afficher les 5 premières lignes des deux datasets.

In [51]:
import numpy as np
import pandas as pd
# making data frame 
data = pd.read_csv("heroes_information.csv")  
# calling head() method  
# storing in new variable 
data_top = data.head(5)   
# display 
data_top

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

In [14]:
import numpy as np
import pandas as pd
# making data frame 
data = pd.read_csv("super_hero_powers.csv")  
# calling head() method  
# storing in new variable 
data_top = data.head()  
# display 
data_top

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### 5. Affichez la taille des datasets.

In [73]:
import pandas
df1 = pandas.read_table("super_hero_powers.csv",sep =',',header = 0)
print(df.shape)

(734, 1)

In [72]:
import pandas
df2 = pandas.read_table("heroes_information.csv",sep =',',header = 0)
print(df.shape)

(734, 1)

### 6. Affichez la colonne `name` du dataframe `df_heroes_info` puis affichez son type.

In [60]:
import pandas
print(data['name'])

0               A-Bomb
1           Abe Sapien
2             Abin Sur
3          Abomination
4              Abraxas
            ...
729    Yellowjacket II
730               Ymir
731               Yoda
732            Zatanna
733               Zoom
Name: name, Length: 734, dtype: object

### 7. Affichez la liste des colonnes disponibles dans les deux dataset.

In [70]:
(df2.columns)

Index([',name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight'], dtype='object')

In [63]:
print(df2.columns)

Index([',name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight'], dtype='object')

### 8. Appliquez la méthode `describe` au dataframe `df_heroes_powers` puis au dataframe `df_heroes_info`. A quoi correspond chacune des lignes du tableau obtenu?

In [74]:
import pandas
df1.describe()

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
count,667,667,667,667,667,667,667,667,667,667,...,667,667,667,667,667,667,667,667,667,667
unique,667,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
top,Blackwulf,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
freq,1,425,489,656,642,620,410,541,590,455,...,653,651,665,658,666,666,666,665,665,665

In [75]:
import pandas
df2.describe()

       Unnamed: 0      Height      Weight
count  734.000000  734.000000  732.000000
mean   366.500000  102.254087   43.855191
std    212.031837  139.624543  130.823733
min      0.000000  -99.000000  -99.000000
25%    183.250000  -99.000000  -99.000000
50%    366.500000  175.000000   62.000000
75%    549.750000  185.000000   90.000000
max    733.000000  975.000000  900.000000

### 9. Executez le code suivant. Que fait-il?

In [78]:
num_powers = df1.sum(axis=0)[1:]
print(num_powers)

Agility                   242
Accelerated Healing       178
Lantern Power Ring         11
Dimensional Awareness      25
Cold Resistance            47
                         ...
Phoenix Force            True
Molecular Dissipation    True
Vision - Cryo               2
Omnipresent                 2
Omniscient                  2
Length: 167, dtype: object

In [81]:
df2.describe()

       Unnamed: 0      Height      Weight
count  734.000000  734.000000  732.000000
mean   366.500000  102.254087   43.855191
std    212.031837  139.624543  130.823733
min      0.000000  -99.000000  -99.000000
25%    183.250000  -99.000000  -99.000000
50%    366.500000  175.000000   62.000000
75%    549.750000  185.000000   90.000000
max    733.000000  975.000000  900.000000

In [82]:
df1.describe()

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
count,667,667,667,667,667,667,667,667,667,667,...,667,667,667,667,667,667,667,667,667,667
unique,667,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
top,Blackwulf,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
freq,1,425,489,656,642,620,410,541,590,455,...,653,651,665,658,666,666,666,665,665,665

### 10. En déduire les 10 pouvoirs les plus présents dans les données.

In [94]:
import pandas
num_powers = num_powers.sort_values(ascending=False)
print(num_powers[0:10])

TypeError: '<' not supported between instances of 'numpy.ndarray' and 'str'

### 11. Supprimer la colonne `Unnamed: 0` dans le dataframe `df_heroes_info`.

In [22]:
import pandas
df2 = pandas.read_table("heroes_information.csv",sep =',',header = 0)
print(df2.shape)

(734, 11)

### 12. Affichez le pourcentage de femmes présentes dans le jeu de données.

In [15]:
df2['Gender'].value_counts(normalize=True) * 100

Male      68.801090
Female    27.247956
-          3.950954
Name: Gender, dtype: float64

### 13. En utilisant la méthode `crosstab` anamysez la répartition du genre (`Gender`) en fonction du rôle (`Alignment`).

In [25]:
pandas.crosstab(df2['Gender'],df2['Alignment'])

Alignment  -  bad  good  neutral
Gender
-          1    7    19        2
Female     0   35   161        4
Male       6  165   316       18