<a href="https://colab.research.google.com/github/dspierre/data-ia/blob/dspierre-machinelearning/Pierre_marie_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/sample_data/pm_dataset.csv')

In [4]:
df

        Unnamed: 0   mean_id  ...     destination_arrival_ts  trip_duration
0                0   53431.0  ...  2020-10-14 08:41:54+00:00          12823
1                1   53438.0  ...  2020-10-26 09:23:27+00:00          11911
2                2   53420.0  ...  2020-07-29 19:40:29+00:00          12989
3                3   53420.0  ...  2020-09-01 20:55:54+00:00          17411
4                4   46011.0  ...  2020-10-09 10:01:11+00:00          10043
...            ...       ...  ...                        ...            ...
105107      105107   31374.0  ...  2020-08-13 03:34:28+00:00          18628
105108      105108   31374.0  ...  2020-06-29 14:28:54+00:00          22113
105109      105109  109263.0  ...  2020-07-03 02:47:00+00:00           6690
105110      105110   49677.0  ...  2020-06-08 08:13:29+00:00           4156
105111      105111   33643.0  ...  2020-09-04 13:47:12+00:00          21878

[105112 rows x 16 columns]

In [5]:
type(df['origin_slot_start'])

pandas.core.series.Series

In [6]:
date = df['origin_slot_start'][0]

In [7]:
import calendar
import time 
from datetime import datetime
from pandas import Timestamp
def convtime(strtime):
    moment = datetime.strptime(strtime, '%Y-%m-%d %H:%M:%S')
    return calendar.timegm(moment.timetuple())

In [66]:
import re

def split_it(year):
    return re.findall('(\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2})', year)

In [9]:
df['origin_slot_start'] = df['origin_slot_start'].apply(lambda x: split_it(x))

In [10]:
df['origin_slot_start'] = df['origin_slot_start'].apply(lambda x: ','.join(map(str, x)))

In [11]:
df['origin_slot_start']

0         2020-10-14 05:00:00
1         2020-10-26 06:00:00
2         2020-07-29 17:00:00
3         2020-09-01 17:00:00
4         2020-10-09 07:30:00
                 ...
105107    2020-08-12 22:30:00
105108    2020-06-29 09:00:00
105109    2020-07-03 01:30:00
105110    2020-06-08 08:00:00
105111    2020-09-04 08:00:00
Name: origin_slot_start, Length: 105112, dtype: object

In [12]:
type(df['origin_slot_start'])

pandas.core.series.Series

In [13]:
date1 =  df['origin_slot_start'][0]
date1

'2020-10-14 05:00:00'

In [14]:
print(convtime(date1))

1602651600

In [15]:
f = lambda x: convtime(x)

In [16]:
df['origin_slot_start'] = df['origin_slot_start'].apply(f)

In [17]:
df['origin_slot_start']

0         1602651600
1         1603692000
2         1596042000
3         1598979600
4         1602228600
             ...
105107    1597271400
105108    1593421200
105109    1593739800
105110    1591603200
105111    1599206400
Name: origin_slot_start, Length: 105112, dtype: int64

In [18]:
df.head()

   Unnamed: 0  mean_id  ...     destination_arrival_ts  trip_duration
0           0  53431.0  ...  2020-10-14 08:41:54+00:00          12823
1           1  53438.0  ...  2020-10-26 09:23:27+00:00          11911
2           2  53420.0  ...  2020-07-29 19:40:29+00:00          12989
3           3  53420.0  ...  2020-09-01 20:55:54+00:00          17411
4           4  46011.0  ...  2020-10-09 10:01:11+00:00          10043

[5 rows x 16 columns]

In [22]:
df['origin_arrival_ts'] = df['origin_arrival_ts'].apply(lambda x: split_it(x))

In [23]:
df['origin_arrival_ts'] = df['origin_arrival_ts'].apply(lambda x: ','.join(map(str, x)))

In [27]:
df['origin_arrival_ts']

0         2020-10-14 05:08:11
1         2020-10-26 06:04:56
2         2020-07-29 16:04:00
3         2020-09-01 16:05:43
4         2020-10-09 07:13:48
                 ...
105107    2020-08-12 22:24:00
105108    2020-06-29 08:20:21
105109    2020-07-03 00:55:30
105110    2020-06-08 07:04:13
105111    2020-09-04 07:42:34
Name: origin_arrival_ts, Length: 105112, dtype: object

In [28]:
type(df['origin_arrival_ts'])

pandas.core.series.Series

In [32]:
date2 =  df['origin_arrival_ts'][0]
date2

'2020-10-14 05:08:11'

In [30]:
f = lambda x: convtime(x)

In [33]:
df['origin_arrival_ts'] = df['origin_arrival_ts'].apply(f)

In [34]:
df['origin_arrival_ts']

0         1602652091
1         1603692296
2         1596038640
3         1598976343
4         1602227628
             ...
105107    1597271040
105108    1593418821
105109    1593737730
105110    1591599853
105111    1599205354
Name: origin_arrival_ts, Length: 105112, dtype: int64

In [35]:
df.head()

   Unnamed: 0  mean_id  ...     destination_arrival_ts  trip_duration
0           0  53431.0  ...  2020-10-14 08:41:54+00:00          12823
1           1  53438.0  ...  2020-10-26 09:23:27+00:00          11911
2           2  53420.0  ...  2020-07-29 19:40:29+00:00          12989
3           3  53420.0  ...  2020-09-01 20:55:54+00:00          17411
4           4  46011.0  ...  2020-10-09 10:01:11+00:00          10043

[5 rows x 16 columns]

In [56]:
df['destination_arrival_ts'] = df['destination_arrival_ts'].apply(lambda x: split_it(x))

In [57]:
df['destination_arrival_ts'] = df['destination_arrival_ts'].apply(lambda x: ','.join(map(str, x)))

In [58]:
df['destination_arrival_ts']

0         2020-10-14 08:41:54
1         2020-10-26 09:23:27
2         2020-07-29 19:40:29
3         2020-09-01 20:55:54
4         2020-10-09 10:01:11
                 ...
105107    2020-08-13 03:34:28
105108    2020-06-29 14:28:54
105109    2020-07-03 02:47:00
105110    2020-06-08 08:13:29
105111    2020-09-04 13:47:12
Name: destination_arrival_ts, Length: 105112, dtype: object

In [59]:
type(df['destination_arrival_ts'])

pandas.core.series.Series

In [60]:
date2 =  df['destination_arrival_ts'][0]
date2

'2020-10-14 08:41:54'

In [61]:
f = lambda x: convtime(x)

In [62]:
df['destination_arrival_ts'] = df['destination_arrival_ts'].apply(f)

In [63]:
df['destination_arrival_ts']

0         1602664914
1         1603704207
2         1596051629
3         1598993754
4         1602237671
             ...
105107    1597289668
105108    1593440934
105109    1593744420
105110    1591604009
105111    1599227232
Name: destination_arrival_ts, Length: 105112, dtype: int64

In [64]:
df.head()

   Unnamed: 0  mean_id  ...  destination_arrival_ts  trip_duration
0           0  53431.0  ...              1602664914          12823
1           1  53438.0  ...              1603704207          11911
2           2  53420.0  ...              1596051629          12989
3           3  53420.0  ...              1598993754          17411
4           4  46011.0  ...              1602237671          10043

[5 rows x 16 columns]

In [86]:
df['origin_slot_end'] = df['origin_slot_end'].apply(lambda x: split_it(x))

TypeError: ignored

In [87]:
df['origin_slot_end'] = df['origin_slot_end'].apply(lambda x: ','.join(map(str, x)))

In [88]:
df['origin_slot_end']

0         2020-10-14 05:00:00
1         2020-10-26 06:00:00
2         2020-07-29 17:00:00
3         2020-09-01 17:00:00
4         2020-10-09 07:30:00
                 ...
105107    2020-08-12 22:30:00
105108    2020-06-29 09:00:00
105109    2020-07-03 01:30:00
105110    2020-06-08 08:00:00
105111    2020-09-04 08:00:00
Name: origin_slot_end, Length: 105112, dtype: object

In [89]:
type(df['origin_slot_end'])

pandas.core.series.Series

In [90]:
date2 =  df['origin_slot_end'][0]
date2

'2020-10-14 05:00:00'

In [91]:
f = lambda x: convtime(x)

In [92]:
df['origin_slot_end'] = df['origin_slot_end'].apply(f)

In [93]:
df['origin_slot_end']

0         1602651600
1         1603692000
2         1596042000
3         1598979600
4         1602228600
             ...
105107    1597271400
105108    1593421200
105109    1593739800
105110    1591603200
105111    1599206400
Name: origin_slot_end, Length: 105112, dtype: int64

In [94]:
df.head()

   Unnamed: 0  mean_id  ...  destination_arrival_ts  trip_duration
0           0  53431.0  ...              1602664914          12823
1           1  53438.0  ...              1603704207          11911
2           2  53420.0  ...              1596051629          12989
3           3  53420.0  ...              1598993754          17411
4           4  46011.0  ...              1602237671          10043

[5 rows x 16 columns]

In [104]:
df['destination_slot_end'] = df['destination_slot_end'].apply(lambda x: split_it(x))

TypeError: ignored

In [101]:
df.to_csv (r'C:\Users\pierre-marie\Desktop\projet_python\dataframe_dataproccesing2csv')

In [103]:
df

        Unnamed: 0   mean_id  ...  destination_arrival_ts  trip_duration
0                0   53431.0  ...              1602664914          12823
1                1   53438.0  ...              1603704207          11911
2                2   53420.0  ...              1596051629          12989
3                3   53420.0  ...              1598993754          17411
4                4   46011.0  ...              1602237671          10043
...            ...       ...  ...                     ...            ...
105107      105107   31374.0  ...              1597289668          18628
105108      105108   31374.0  ...              1593440934          22113
105109      105109  109263.0  ...              1593744420           6690
105110      105110   49677.0  ...              1591604009           4156
105111      105111   33643.0  ...              1599227232          21878

[105112 rows x 16 columns]